.login {
    position: relative;
    width: 100%;
    min-height: 72vh;
}

@media (min-width: 640px) {
    .login {
        min-height: 94vh;
    }
}

.login__bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../images/forest-931706_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.login__bg::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,70, .5);
}

.login__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: ceter;
    justify-content: ceter;
}

.login__form-input {
    border: none;
    border-bottom: 2px solid #aaa;
    color: var(--main-fc);
    background-color: rgba(100, 100, 100, .3);
    margin: 0 0 calc(var(--main-spacing)/2);
    padding: var(--main-spacing);
    font-size: 20px;
    font-weight: 600;
}

.login__form-input:active,
.login__form-input:focus {
    border-bottom: 2px solid var(--main-fc);
}

.login__form-input::placeholder {
    color: #aaa;
}

.login__form-input:active::placeholder,
.login__form-input:focus::placeholder{
    color: var(--main-fc);
}

.login__form-button {
    padding: var(--main-spacing);
    font-size: 20px;
    color: var(--main-fc);
    background-color: rgba(100, 100, 100, .3);
    border: 2px solid var(--main-fc);
    cursor: pointer;
}

.login__form-button:focus {
    box-shadow: 0 0 10px 1px var(--main-fc);
}

